# Основные библиотеки для работы с данными
pandas==2.3.3
numpy==1.26.4

# Визуализация
matplotlib==3.9.4
seaborn==0.13.2

# Работа с базами данных и SQL
sqlalchemy==2.0.45
psycopg2-binary==2.9.11

# Дополнительные аналитические библиотеки
phik==0.12.4
python-dotenv==1.2.1

# Утилиты
joblib==1.4.2
